/* BODY STYLE */
body {
  font-family: sans-serif;
  background-color: #fdf6f0;
  color: #333;
}

h1, h2 {
  font-weight: 600;
}

/* NAVBAR */
.navbar {
  padding: 15px 0;
  background-color: #343a40;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow:#212529;
}

.hero::after {
  background: rgba(0,0,0,0.3);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero button {
  background-color: #ffc107;
  color: #333;
}

.hero button:hover {
  background-color: #ffca2c;
}

/* MENU CARDS */
.card {
  box-shadow:#212529;
}

.card:hover {
  box-shadow:#212529;
}

/* ABOUT US SECTION */
#about img {
  box-shadow:#212529;
}

/* CONTACT FORM */
form .form-control, form select {
  padding: 10px;
}

form .form-control:focus, form select:focus {
  border-color: #ffc107;
  box-shadow: 0 0 8px rgba(255,193,7,0.4);
}

form button {
  border-radius: 25px;
  background-color: #343a40;
  color: #ffc107;
  font-weight: bold;
  padding: 10px 25px;
}

form button:hover {
  background-color: #212529;
}

/* FOOTER */
footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
}

.footer-icons i:hover {
  color: #ffc107;
}

/* RESPONSIVE ADJUSTMENTS */
@media (max-width: 768px)